body{
    background-image: url("cesarphoto.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    }

.maindiv{
    display: inline-block;
    box-sizing: border-box;
    width: 30% ;
    padding: 25px;
    vertical-align: top;
}

main h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: bisque;
}

h2{
    display: flex;
    text-transform: uppercase;
    color: beige;
}

label {
    display: block;
}

.content{
    color:beige;
    font-size: 18px;
    text-align: justify;
}

.formulario{
    color: beige;
    width:350px;
    font-size: 18px;
    text-align: justify;
}

#sentece, #offset{
  width: 300px
}

#button{
  display: block;
}

.result-on-screen{
    display: flex;
    color: beige;
    font-size: 24px;
}
